# Logs
logs
*.log
npm-debug.log*


# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Distribution directories
dist/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

/artifacts

/artifacts/client-stats.json
/artifacts/react-static-build-state.json
/artifacts/static-app.js
/artifacts/react-static-templates.js
/dist.zip
/artifacts/react-static-templates.js
